* {
    margin: 0;
    padding: 0;
    text-align: justify;
}

body {
    background: url(./bg.jpg) #111111;
    color: #d6d6d6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

p {
    color: #d6d6d6;
}

svg {
    fill: #fecd07;
    height: 85px;
    display: block;
    margin: auto 25px 0 0;
}

.brand p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 2px;
}

.body p {
    line-height: 27px;
    margin-bottom: 20px;
    font-size: 18px;
}

h1 {
    margin-bottom: 10px;
    font-size: 45px;
    color: white;
}

h2 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.page-wrap {
    background: transparent;
    display: block;
    max-width: 513px;
    margin: 0 auto;
    color: #111111;
    padding: 50px 20px;
    border-radius: 5px;
    text-align: left;
}

header {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

form.subscribe {
    display: flex;
    margin: 35px 0;
    width: 100%;
}

form.subscribe input[type="email"] {
    border: none;
    flex: 1;
    padding: 13px;
    font-size: 17px;
    background: #f4f4f4;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

form.subscribe input[type="submit"] {
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    outline: none;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #fecd07;
    color: #111111;
    font-weight: 400;
    -webkit-appearance: none;
}

form.subscribe input[type="submit"]:hover {
    background: #fedc00;
}

footer a {
    margin-right: 10px;
    color: #7d7d7d;
    text-decoration: none;
}

footer a:hover {
    color: #fedc00;
}

@media (max-width: 490px) {
    form.subscribe {
        flex-direction: column;
    }

    form.subscribe input[type="submit"] {
        margin-left: 0;
        margin-top: 10px;
    }

    .brand p {
        display: none;
    }
}

.fa {
    color: #fecd07;
    margin: 10px;
    margin-right: 10px;
}

img {
    max-width:135px;
    border-radius: 3%;
    border: 2px solid #fecd07;
}
